{
  "name": "{{ .theme.name }}",
  "primary": "#{{ .theme.colors.accent }}",
  "primaryText": "#{{ .theme.colors.crust }}",
  "primaryContainer": "#{{ .theme.colors.surface1 }}",
  "secondary": "#{{ .theme.colors.accent2 }}",
  "surface": "#{{ .theme.colors.base }}",
  "surfaceText": "#{{ .theme.colors.text }}",
  "surfaceVariant": "#{{ .theme.colors.surface0 }}",
  "surfaceVariantText": "#{{ .theme.colors.subtext1 }}",
  "surfaceTint": "#{{ .theme.colors.accent }}",
  "background": "#{{ .theme.colors.crust }}",
  "backgroundText": "#{{ .theme.colors.text }}",
  "outline": "#{{ .theme.colors.overlay0 }}",
  "surfaceContainer": "#{{ .theme.colors.mantle }}",
  "surfaceContainerHigh": "#{{ .theme.colors.surface0 }}",
  "surfaceContainerHighest": "#{{ .theme.colors.surface1 }}",
  "error": "#{{ .theme.colors.red }}",
  "warning": "#{{ .theme.colors.yellow }}",
  "info": "#{{ .theme.colors.blue }}"
}
